.gallery {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  background-color: $grey-backgd;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 5%;
  margin-bottom: 50px;

  @media (max-width: 767px) {
    width: 90%;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.card {
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    scale: 1.05;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__img {
    width: 100%;
    margin: auto;
    flex: 1;
    object-fit: cover !important;
    border-radius: 10px;
    box-sizing: border-box;
    filter: brightness(0.7);
  }

  &__title {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
}
