.tag {
  @include flex-2center;
  height: 25px;
  background-color: $main-red;
  color: white;
  font-size: 14px;
  padding: 2.5px 20px;
  border-radius: 10px;

  @include mobile-only {
    height: 18px;
    font-size: 10px;
    padding: 2px 10px;
  }
}
